* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --lightGrey: hsl(0, 0%, 98%);
}

@mixin inside {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 9px 20px -12px rgba(22, 23, 23, 1);
  -moz-box-shadow: 0px 9px 20px -12px rgba(22, 23, 23, 1);
  box-shadow: 0px 9px 20px -12px rgba(22, 23, 23, 1);

  .title {
    margin-left: 20px;
    margin-top: 25px;
    font-weight: 600;
  }
  .description {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 200;
  }
  img {
    margin-top: 25px;
    width: 50px;
    align-self: end;
    margin-right: 25px;
    margin-bottom: 20px;
  }
}

body {
  background-color: var(--lightGrey);

  .header {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;

    &__text1 {
      font-size: 22px;
      font-weight: 200;
    }
    &__text2 {
      font-size: 22px;
      font-weight: 400;
    }
    &__text3 {
      font-weight: 200;
      margin-left: 30vw;
      margin-right: 30vw;
    }
  }

  .container {
    display: grid;
    width: 80vw;
    margin: 50px auto;
    max-width: 1440px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;

    grid-template-areas:
      ". B ."
      "A B D"
      "A C D"
      ". C .";

    &__box-1 {
      grid-area: A;

      border-top: 4px solid var(--cyan);

      @include inside;
    }

    &__box-2 {
      grid-area: B;
      border-top: 4px solid var(--red);
      @include inside;
    }
    &__box-3 {
      grid-area: C;
      border-top: 4px solid var(--orange);
      @include inside;
    }
    &__box-4 {
      grid-area: D;
      border-top: 4px solid var(--blue);
      @include inside;
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@media only screen and (max-width: 800px) {
  body {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "A"
        "B"
        "C"
        "D";
    }
  }
}
